* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Vujahday Script", cursive;
}

p {
  font-family: "Nunito", sans-serif;
}

button {
  font-family: "Nunito", sans-serif;
}

@import "./nav.scss";
@import "./products.scss";
@import "./hero.scss";
@import "./footer.scss";
@import "./cart.scss";
@import "./home.scss";
@import "./contact.scss";
