footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(114, 114, 114);
  color: white;
  .subscribe {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
    }
    div {
      form {
        margin-top: 1rem;
        input {
          padding: 2px;
        }
        button {
          padding: 2px;
          width: 5rem;
          &:hover {
            cursor: pointer;
            background: cyan;
            border: none;
          }
        }
      }
    }
  }
  .social-media {
    margin: 1rem 0;
    i {
      margin: 0 1rem;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
        color: cyan;
      }
    }
  }
}
